doctype
html(lang='zh-cn',ng-app="myApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title &#x7528;&#x6237;&#x6CE8;&#x518C; - &#x7A0B;&#x5E8F;&#x733F;&#x95EE;&#x7B54;
        meta(name='keywords', content='用户注册')
        meta(name='description', content='用户注册')
        script(src='./static/components/angular/angular.min.js')
        // Bootstrap
        link(rel='stylesheet', href='./static/components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='./static/components/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='./css/account.css')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
          |
          script(src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    body
        .container(ng-controller='myCtrl')
            .header.text-center
                h1
                    a.logo(href='index.html') 程序员问答
                p.description.text-muted (程序员问答() { console.log("程序员专用问答网站，又快又准找到问题答案"); })()
            .col-md-6.col-md-offset-3.bg-white.login-wrap
                h1.h4.text-center.text-muted.login-title 找回密码
                form(role='form', name='loginForm', ng-submit='getPass()' method='POST',novalidate='novalidate')
                    input(type='hidden', name='_token', value='f5Zj2qrN8CA7OzwQTbq0ytgPvmU9GaA7z3cvT15w')
                    .form-group
                        label.required 邮箱
                        input.form-control(type='text', name='myEmail', ng-model='email', placeholder='注册邮箱', value='')
                    .form-group
                        label.required(for='captcha') 验证码
                        input#captcha.form-control(type='text', name='captcha', ng-model='captcha', placeholder='请输入下方的验证码')
                        .mt-10
                            a#reloadCaptcha(href='javascript:void(0);')
                                img(src='{{imgSrc}}')
                            span.btn.btn-sm.btn-success(ng-click='changeCaptcha()') 换一张
                    .form-group
                        button.btn.btn-primary.btn-block.btn-lg(type='submit') 提交
            .text-center.col-md-12.login-link
                a(href='/register') 注册新账号
                | |
                a(href='/') 首页
        script(src='./static/components/jquery/dist/jquery.js')
        script(src='./static/components/bootstrap/dist/js/bootstrap.js')
        script(src='./js/getPass.js')
